<div>
  <p>Genre</p>
  <form [formGroup]="genreFormGroup">
    <div>
      <input type="checkbox" id="action" formControlName="action" />
      <label for="action">action</label>
    </div>
    <div>
      <input type="checkbox" id="comedy" formControlName="comedy" />
      <label for="comedy">comedy</label>
    </div>
    <div>
      <input type="checkbox" id="drama" formControlName="drama" />
      <label for="drama">drama</label>
    </div>
    <div>
      <input type="checkbox" id="fantasy" formControlName="fantasy" />
      <label for="fantasy">fantasy</label>
    </div>
    <div>
      <input type="checkbox" id="horror" formControlName="horror" />
      <label for="horror">horror</label>
    </div>
    <div>
      <input type="checkbox" id="mystery" formControlName="mystery" />
      <label for="mystery">mystery</label>
    </div>
    <div>
      <input type="checkbox" id="romance" formControlName="romance" />
      <label for="romance">romance</label>
    </div>
    <div>
      <input type="checkbox" id="thriller" formControlName="thriller" />
      <label for="thriller">thriller</label>
    </div>
  </form>
</div>
