<div>
  <p>Genre</p>
  <form [formGroup]="genreFormGroup">
    <input type="checkbox" formControlName="action" /> <label>action</label>
    <input type="checkbox" formControlName="comedy" /> <label>comedy</label>
    <input type="checkbox" formControlName="drama" /> <label>drama</label>
    <input type="checkbox" formControlName="fantasy" /> <label>fantasy</label>
    <input type="checkbox" formControlName="horror" /> <label>horror</label>
    <input type="checkbox" formControlName="mystery" /> <label>mystery</label>
    <input type="checkbox" formControlName="romance" /> <label>romance</label>
    <input type="checkbox" formControlName="thriller" /> <label>thriller</label>
  </form>
</div>
